In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import random as rnd


from sklearn.ensemble import RandomForestClassifier

In [2]:
test_df = pd.read_csv('../input/titanic/test.csv')
train_df = pd.read_csv('../input/titanic/train.csv')
combine = [train_df, test_df]

In [3]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [4]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train_df['Name_length'] = train_df['Name'].apply(len)
test_df['Name_length'] = test_df['Name'].apply(len)

In [6]:
train_df = train_df.drop(['Ticket', 'Cabin'], axis=1)
test_df = test_df.drop(['Ticket', 'Cabin'], axis=1)
combine = [train_df, test_df]

In [7]:
for dataset in combine:
    dataset['Title'] = dataset['Name'].str.extract('([A-Za-z]+)\.', expand=False)

In [8]:
pd.crosstab(train_df['Title'], train_df['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [9]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

In [10]:
train_df[['Title', 'Survived']].groupby('Title', as_index=False).mean().sort_values(by='Survived', ascending=False)

    Title  Survived
3     Mrs  0.793651
1    Miss  0.702703
0  Master  0.575000
4    Rare  0.347826
2      Mr  0.156673

In [11]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
for dataset in combine:
    dataset['Title']  = dataset['Title'].map(title_mapping)
    dataset['Title']  = dataset['Title'].fillna(0)

In [12]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Name_length,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,23,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,51,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,22,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,44,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,24,1

In [13]:
train_df = train_df.drop(['Name', 'PassengerId'], axis=1)
test_df = test_df.drop(['Name'], axis=1)
combine = [train_df, test_df]

In [14]:
dicki = {'female': 1, 'male': 0}
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map(dicki).astype(int)

In [15]:
guess_ages = np.zeros((2,3))
guess_ages

array([[0., 0., 0.],
       [0., 0., 0.]])

In [16]:
for dataset in combine:
    for i in range(0, 2):
        for j in range(0, 3):
            guess_df = dataset[(dataset['Sex'] == i) & (dataset['Pclass'] == j+1)]['Age'].dropna()
            age_guess = guess_df.median()
            guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5
    
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                    'Age'] = guess_ages[i,j]
    
    dataset['Age'] = dataset['Age'].astype(int)

In [17]:
train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_length,Title
0,0,3,0,22,1,0,7.2500,S,23,1
1,1,1,1,38,1,0,71.2833,C,51,3
2,1,3,1,26,0,0,7.9250,S,22,2
3,1,1,1,35,1,0,53.1000,S,44,3
4,0,3,0,35,0,0,8.0500,S,24,1

In [18]:
train_df['AgeBand'] = pd.cut(train_df['Age'], 8)
train_df[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

         AgeBand  Survived
0  (-0.08, 10.0]  0.593750
1   (10.0, 20.0]  0.379310
2   (20.0, 30.0]  0.322751
3   (30.0, 40.0]  0.448649
4   (40.0, 50.0]  0.392857
5   (50.0, 60.0]  0.404762
6   (60.0, 70.0]  0.222222
7   (70.0, 80.0]  0.250000

In [19]:
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 10, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 20) & (dataset['Age'] <= 30), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 30) & (dataset['Age'] <= 40), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 40) & (dataset['Age'] <= 50), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 50) & (dataset['Age'] <= 60), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 60) & (dataset['Age'] <= 70), 'Age'] = 5
    dataset.loc[(dataset['Age'] > 70) & (dataset['Age'] <= 80), 'Age'] = 6
    dataset.loc[ dataset['Age'] > 80, 'Age'] = 7
    

train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_length,Title,AgeBand
0,0,3,0,1,1,0,7.2500,S,23,1,"(20.0, 30.0]"
1,1,1,1,2,1,0,71.2833,C,51,3,"(30.0, 40.0]"
2,1,3,1,1,0,0,7.9250,S,22,2,"(20.0, 30.0]"
3,1,1,1,2,1,0,53.1000,S,44,3,"(30.0, 40.0]"
4,0,3,0,2,0,0,8.0500,S,24,1,"(30.0, 40.0]"

In [20]:
train_df = train_df.drop(['AgeBand'], axis=1)
combine = [train_df, test_df]
train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_length,Title
0,0,3,0,1,1,0,7.2500,S,23,1
1,1,1,1,2,1,0,71.2833,C,51,3
2,1,3,1,1,0,0,7.9250,S,22,2
3,1,1,1,2,1,0,53.1000,S,44,3
4,0,3,0,2,0,0,8.0500,S,24,1

In [21]:
for dataset in combine:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

train_df[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           4  0.724138
2           3  0.578431
1           2  0.552795
6           7  0.333333
0           1  0.303538
4           5  0.200000
5           6  0.136364
7           8  0.000000
8          11  0.000000

In [22]:
for dataset in combine:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize']==1, 'IsAlone'] = 1

train_df[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

In [23]:
train_df = train_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
test_df = test_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
combine = [train_df, test_df]

train_df.head()

   Survived  Pclass  Sex  Age     Fare Embarked  Name_length  Title  IsAlone
0         0       3    0    1   7.2500        S           23      1        0
1         1       1    1    2  71.2833        C           51      3        0
2         1       3    1    1   7.9250        S           22      2        1
3         1       1    1    2  53.1000        S           44      3        0
4         0       3    0    2   8.0500        S           24      1        1

In [24]:
for dataset in combine:
    dataset['Age*Class'] = dataset.Age * dataset.Pclass

train_df.loc[:, ['Age*Class', 'Age', 'Pclass']].head(10)

   Age*Class  Age  Pclass
0          3    1       3
1          2    2       1
2          3    1       3
3          2    2       1
4          6    2       3
5          3    1       3
6          4    4       1
7          0    0       3
8          3    1       3
9         28   14       2

In [25]:
freq_port = train_df['Embarked'].dropna().mode()[0]
freq_port

'S'

In [26]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)

In [27]:
train_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [28]:
dictm = {'S': 0, 'C': 1, 'Q': 2}
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map(dictm)

In [29]:
train_df.head()

,Survived,Pclass,Sex,Age,Fare,Embarked,Name_length,Title,IsAlone,Age*Class
0,0,3,0,1,7.2500,0,23,1,0,3
1,1,1,1,2,71.2833,1,51,3,0,2
2,1,3,1,1,7.9250,0,22,2,1,3
3,1,1,1,2,53.1000,0,44,3,0,2
4,0,3,0,2,8.0500,0,24,1,1,6

In [30]:
test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)
test_df.head()

,PassengerId,Pclass,Sex,Age,Fare,Embarked,Name_length,Title,IsAlone,Age*Class
0,892,3,0,2,7.8292,2,16,1,1,6
1,893,3,1,3,7.0000,0,32,3,0,9
2,894,2,0,5,9.6875,2,25,1,1,10
3,895,3,0,1,8.6625,0,16,1,1,3
4,896,3,1,1,12.2875,0,44,3,0,3

In [31]:
train_df['FareBand'] = pd.qcut(train_df['Fare'], 3)
train_df[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

          FareBand  Survived
0  (-0.001, 8.662]  0.198052
1    (8.662, 26.0]  0.402778
2  (26.0, 512.329]  0.559322

In [32]:
for dataset in combine:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)

In [33]:
train_df = train_df.drop(['FareBand'], axis=1)
combine = [train_df, test_df]
    
train_df.head(10)

,Survived,Pclass,Sex,Age,Fare,Embarked,Name_length,Title,IsAlone,Age*Class
0,0,3,0,1,0,0,23,1,0,3
1,1,1,1,2,3,1,51,3,0,2
2,1,3,1,1,1,0,22,2,1,3
3,1,1,1,2,3,0,44,3,0,2
4,0,3,0,2,1,0,24,1,1,6
5,0,3,0,1,1,2,16,1,1,3
6,0,1,0,4,3,0,23,1,1,4
7,0,3,0,0,2,0,30,4,0,0
8,1,3,1,1,1,0,49,3,0,3
9,1,2,1,14,2,1,35,3,0,28

In [34]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 9), (891,), (418, 9))

In [35]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

96.41

In [36]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })

In [37]:
submission.to_csv('submission.csv', index=False)